header{
    text-align: center;
}

#grid{
    display: grid;
    border: 1px solid black;
    height: 500px;
    width: 500px;
}

.grid-item{
    border: 1px solid black;
}

.container{
    display: flex;
    justify-content: center;
}

.black{
    background-color: black;
}